name: desktop_app
description: "CampusMate desktop launcher app."
publish_to: 'none'
version: 1.0.16+17

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  campusmate_core:
    path: ../../packages/campusmate_core
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
